.authContainer{
    background-image: url("https://cdn.pixabay.com/photo/2018/02/05/16/21/bitcoin-3132574_1280.jpg");
    height:100vh;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bgBlure{
    backdrop-filter: blur(10px);
}